RewriteEngine On

# Handle Authorization Header
RewriteCond %{HTTP:Authorization} .+
RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]

# index.htm remove
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^ index.htm [QSA,L]

RewriteCond %{REQUEST_URI} (.php) [NC]
RewriteRule ^ .php [F,L]